.swiper {
  max-width: 90%;
  position: relative;
}
.slides-img {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.705);
}
.swiper-button-prev:after,
.swiper-button-next:after {
  color: rgba(255, 255, 255, 0);
  padding-top: 200px;
  padding-left: 330px;
  padding-bottom: 120px;
  transition: background-color 250ms linear;
}
.swiper-pagination .swiper-pagination-bullet {
  border-radius: 0%;
  position: relative;
  cursor: pointer;
  height: 10px;
  min-width: 34px;
  margin: 0 4px;
  background-color: #414040;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
.swiper-pagination-bullet::before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  background: #ff6005;
  position: absolute;
  left: 0;
}
.swiper-pagination-bullet-active::before {
  transition: width 7s linear;
  width: 0;
  width: 100%;
}
.slides-link {
  position: absolute;
  left: 50%;
  top: 70%;
  text-decoration: none;
  color: white;
  background: rgb(255, 96, 0);
  padding: 10px 30px 10px 30px;
  font-size: 10px;
  font-weight: 600;
  transform: translate(-50%, -70%);
  transition: linear 0.2s;
}
.slides-link:hover {
  color: #ffffffd4;
  background-color: white;
  transform: translate(-50%, -70%);
  background: rgba(255, 98, 0, 0.9);
  text-decoration: none;
  transition: linear 0.2s;
}
.slides-link:active {
  text-decoration: none;
  background: rgba(255, 98, 0, 0.7);
  color: rgba(0, 0, 0, 0.705);
}
@media screen and (min-width: 760px) {
  .slides-link {
    padding: 17px 50px 17px 50px;
    font-size: 20px;
  }
  .swiper-pagination .swiper-pagination-bullet {
    height: 10px;
    min-width: 50px;
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    color: white;
    padding: 25px;
    border-radius: 5px;
    transition: background-color 250ms linear;
  }
  .swiper-button-prev:hover:after,
  .swiper-button-next:hover:after {
    color: #ff6005;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
@media screen and (min-width: 1200px) {
  .slides-link {
    padding: 20px 60px 20px 60px;
    font-size: 25px;
  }
  .swiper-pagination .swiper-pagination-bullet {
    height: 12px;
    min-width: 70px;
  }
}
